<!DOCTYPE html>
<html lang="en">
  
<!-- Mirrored from buttoncreative.agency/html/shareen/ by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 03 Mar 2020 08:01:52 GMT -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add post</title>
    <link rel="stylesheet" href="/admin/style.css" />
  </head>
  <body>

  	<h1 class="name">Add Post</h1>
  </body>

 </html>